<div class="dialog-container">
    <h2 mat-dialog-title>Создание профиль</h2>

    <mat-dialog-content>
            <form [formGroup]="profileForm" class="profile-form">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Имя</mat-label>
                    <input matInput formControlName="fullName">
                    @if (profileForm.get('fullName')?.hasError('required')) {
                        <mat-error>
                            Имя обязательно
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    @if (profileForm.get('email')?.hasError('email')) {
                        <mat-error>
                            Неверный формат email
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Пароль</mat-label>
                    <input matInput formControlName="passwordHash">
                    @if (profileForm.get('passwordHash')?.hasError('required')) {
                        <mat-error>
                            Пароль обязательно
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Рол</mat-label>
                    <mat-select formControlName="role">
                        @for (option of roleOptions; track option.value) {
                            <mat-option [value]="option.value">
                                {{ option.viewValue }}
                            </mat-option>
                        }
                    </mat-select>
                    @if (profileForm.get('role')?.hasError('required')) {
                        <mat-error>
                            Рол обязателен
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Позиция</mat-label>
                    <mat-select formControlName="position">
                        @for (option of positionOptions; track option.value) {
                            <mat-option [value]="option.value">
                                {{ option.viewValue }}
                            </mat-option>
                        }
                    </mat-select>
                    @if (profileForm.get('position')?.hasError('required')) {
                        <mat-error>
                            Позиция обязателен
                        </mat-error>
                    }
                </mat-form-field>
            </form>


        @if (errorMessage) {
            <div class="error-message">
                {{ errorMessage }}
            </div>
        }
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="dialog-actions">
        <button mat-button (click)="onCancel()">Отмена</button>
        <button mat-flat-button color="primary" (click)="onSave()" [disabled]="profileForm.invalid">
            Сохранить
        </button>
    </mat-dialog-actions>
</div>